
/* --- Blog --- */
.blog-content{
	display: table-cell;
	width: 100%;
	padding: 20px 25px;
	vertical-align: middle;

}
.blog-masonry {
	margin: 0 -1em 1.8em;
  }
  
  .blog-masonry.one-column .item {
	width: 100%;
	padding: 0 1em 2em;
  }
  
  .blog-masonry.two-columns .item {

	width: 50%;
	float: left;
	padding: 0 1em 2em;
  }
  
  .blog-masonry.three-columns .item {

	width: 33.333333%;
	float: left;
	padding: 0 1em 2em;
  }
  
  .blog-card{
	
display: block;
  position: center;
  margin-bottom: 20px;
  margin-right: 25px;
  margin-left: 25px;

	background: #444;
  }
  
  .blog-card .post-image {
	display: absolute;

	width: 100%;
	margin: 0;
  }
  
  .blog-card .media-block {
	display: absolute;

	overflow: hidden;
  }
  
  .blog-card .media-block img {
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
  }
  
  .blog-card .media-block:hover img {
	transform: scale(1.1);
  }
  
  .blog-card .post-without-f-image {
	padding-bottom: 46.875%;
	width: 100%;
	background-color: #f5f5f5;
  }
  
  .blog-card .post-info {
	padding: 1em 1.4em 1.4em;
	border: 1px solid #444;
	border-top: 0;
  }
  
  .blog-card .blog-item-title {
	margin: 5px 0 0 0;
  }
  
  .blog-card .post-meta {
	padding: 1em;
	margin: 0;
  }
  
  .blog-card .category a {
	position: absolute;
	top: 10px;
	left: 10px;
	background: #222;
	padding: 2px 7px;
	line-height: 1.2em;
	font-size: 11px;
	color: #eee;
	z-index: 3;
  }
  
  .blog-card .post-date {
	display: inline-block;
	color: #aaa;
	font-size: 11px;
	line-height: 1.1em;
	font-weight: 300;
  }
  
  .blog-card .media-block {
	position: relative;
  }
  
  .sticky-badge {
	position: absolute;
	background-color: #fff;
	right: 10px;
	top: 10px;
	font-size: 12px;
	padding: 0;
	width: 18px;
	height: 18px;
	text-align: center;
	line-height: 18px;
	color: #888;
	z-index: 3;
  }
  
  .blog-card .media-block a .mask {
	position: absolute;
	background: #4f565e;
	background: rgba(0,0,0,.12);
	display: inline-block;
	font-family: 'Linearicons-Free';
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	width: 100%;
	left: 0;
	bottom: 0;
	top: 0;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
  }
  
  .blog-card .media-block a .mask:after {
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -22px 0 0 -22px;
	width: 44px;
	line-height: 44px;
	font-size: 44px;
	text-align: center;
	content: "\e828";
	color: #fff;
  }
  
  .blog-card .media-block:hover a .mask {
	visibility: visible;
	opacity: 1;
  }
  
  .blog-card ul.category li a {
	color: #888;
	font-size: 12px;
	font-weight: 300;
  }
  
  .blog-card .post-meta .item, .post-meta .item a {
	color: #a6a6a6;
  }
  /* --- End of Blog --- */
  
.post-box .blog-detail {
	margin: 0 0 25px 0;
	font-size: 13px;
	color: #999999;
}

.post-box .blog-image {
	margin: 0 0 25px 0;
	font-size: 0;
}

.post-box .blog-image img {
	width: 100%;
}

.post-box .blog-content {
	margin: 0 0 40px 0;
}

.post-box .blog-content blockquote {
	margin: 25px 0;
	padding: 0 0 0 20px;
	font-size: 14px;
	line-height: 24px;
	color: #626262;
	font-style: italic;
	font-weight: 300;
	border-left: 2px solid #78cc6d;
}

.post-box .blog-content ul.list-style {
	margin: 25px 0;
	list-style: none;
}

.post-box .blog-content .post-lightbox {
	margin: 25px 0;
}

.post-box .blog-content .post-lightbox img {
	display: block;
	width: 100%;
	margin-bottom: 20px;
}

.post-box .post-comments {
	margin: 0 0 40px 0;
}

.post-box .post-comments li {
	margin: 0 0 20px -20px;
	padding: 0 0 20px 20px;
	position: relative;
	display: block;
	list-style: none;
}

.post-box .post-comments li:last-child:before {
	display: none;
}

.post-box .post-comments li:before {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 1px;
	background: -moz-radial-gradient(left, ellipse cover, rgba(197, 202, 213, 0.7) 0%, rgba(255, 255, 255, 0) 70%);
	background: -webkit-radial-gradient(left, ellipse cover, rgba(197, 202, 213, 0.7) 0%, rgba(255, 255, 255, 0) 70%);
	background: radial-gradient(ellipse at left, rgba(197, 202, 213, 0.7) 0%, rgba(255, 255, 255, 0) 70%);
}

.post-box .post-comments li:after {
	content: '';
	position: relative;
	clear: both;
	display: block;
}

.post-box .post-comments li img {
	width: 54px;
	float: left;
	border-radius: 100%;
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
	-khtml-border-radius: 100%;
}

.post-box .post-comments li .comment-info {
	margin: 0 0 0 66px;
	padding: 5px 0 0 0;
}

.post-box .post-comments li .comment-info .name {
	margin: 0 0 10px 0;
	position: relative;
	font-size: 13px;
	color: #171717;
	font-weight: 500;
}

.post-box .post-comments li .comment-info .name a {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 12px;
	color: #171717;
	text-transform: uppercase;
}

.post-box .post-comments li .comment-info .name h6 {
	margin: 0;
	font-size: 14px;
	line-height: 14px;
	color: #78cc6d;
}

.post-box .post-comments li .comment-info .name h6 span {
	margin: 0 0 0 10px;
	padding: 0 0 0 10px;
	display: inline-block;
	font-size: 12px;
	line-height: 12px;
	color: #999999;
	font-weight: 400;
	text-transform: none;
	border-left: 1px solid #d8dbe2;
}

.post-box .post-comments li .comment-info p {
	margin: 0;
}

